<div class="modal fade" id="modal-deconnexion" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-danger">
        	
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-notification">A lire s'il vous plaît</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            
            <div class="modal-body">
            	
                <div class="py-3 text-center">
                    <i class="fa fa-warning fa-3x"></i>
                    <h4 class="heading mt-4">Voulez-vous vraiment déconnecter?</h4>
                    <p>La session sera supprimé une fois déconnecté</p>
                </div>
                
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm text-right" (click)="logout()" data-dismiss="modal">Oui,je confirme</button>
                <button type="button" class="btn btn-danger btn-sm text-right" data-dismiss="modal">Annuler</button>
            </div>
            
        </div>
    </div>
</div>