<app-menu></app-menu>

<div class="main d-flex">
    <div class="container">
        <div class="row justify-content-center mt-2">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h6>Formation / <a href="#" routerLink="/formation/list/category/{{idCategory}}">{{idCategory|uppercase}}</a> / <a href="#" class="text-primary" routerLink="/formation/list/category/{{idCategory}}/{{idSousCategory}}">{{idSousCategory|uppercase}}</a> / {{idCours|uppercase}} <a href="#" class="btn btn-sm btn-dark float-right" routerLink="/formation/{{idCategory}}/{{idSousCategory}}/create">Créer un cours</a></h6>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>