<div class="modal fade" id="modal-nouveau" tabindex="-1" role="dialog" aria-labelledby="modal-notification"
    aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-danger">

            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-notification">Ajouter une categorie</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form [formGroup]="addCategoryForm" (ngSubmit)="addCategory()">
                <div class="modal-body py-3 text-center">

                    <div class="row justify-content-center" *ngIf="errorBool==true">
                        <div class="col-sm-9">
                            <p class="text-center text-danger">La categorie existe dejà!!!</p>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="nom de la categorie..."
                                formControlName="categoryName" />
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-sm-9">
                            <ng-container *ngFor="let validation of validation_messages.categoryName">
                                <div class="alert alert-danger text-center"
                                    *ngIf="addCategoryForm.get('categoryName').hasError(validation.type) && (addCategoryForm.get('categoryName').dirty || addCategoryForm.get('categoryName').touched)">
                                    {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <div class="row justify-content-center mt-3">
                        <div class="col-sm-9">
                            <textarea formControlName="description" class="form-control" id="" cols="30" rows="3"
                                placeholder="description de la categorie ici..."></textarea>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-sm-9">
                            <ng-container *ngFor="let validation of validation_messages.description">
                                <div class="alert alert-danger text-center"
                                    *ngIf="addCategoryForm.get('description').hasError(validation.type) && (addCategoryForm.get('description').dirty || addCategoryForm.get('description').touched)">
                                    {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark btn-sm"
                        [disabled]="addCategoryForm.invalid">Ajouter</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Annuler</button>
                </div>

            </form>

        </div>
    </div>
</div>