<div class="main-content">
    <div class="container">
        <div class="row pt-4">
            <div class="col-lg-7 mx-auto text-center">
                <img src="assets/image/logo.png" id="logo" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-11 mx-auto text-center">
                <h6 class="titre mt-3">404 Not found</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h4>Desolé La page que vous avez demandé n'existe pas</h4>
                <a class="btn btn-success btn-sm mt-2" routerLink="/">Retour sur la page d'accueil</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 mx-auto">
                <p class="text-center">Copyright © 2020 All rights reserved.</p>
            </div>
        </div>
    </div>
</div>